:root {
  --font-size-l: 1.25rem;
  --font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;

  color: white;
  font-size: var(--font-size);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}